<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jesus1.registro">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lightningicon"
        android:label="@string/projecto"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityBienvenida"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registro"
           />
        <activity android:name=".UsuarioRegistrado" />
        <activity android:name=".Lista" />
        <activity android:name=".Contacto" />
        <activity android:name=".NuevoObjeto" />
    </application>

</manifest>
